@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

a {
  color: #f26430;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #1772d0;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

strong {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-weight: 400; /* Roboto Light looks bad for bold */
}

h2 {
  margin: 0;
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #F26430;
}

.papertitle {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
